# 依赖目录
node_modules/

# 数据库文件
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# 日志文件
*.log
npm-debug.log*

# 操作系统文件
.DS_Store
Thumbs.db

# 环境变量
.env
.env.local

# 临时文件
*.tmp
*.temp
_*
